/.vscode
/Content (unpacked)
/out
/TH-Valley

**/*.exe
**/*.zip

CMakeLists.txt
CMakePresets.json


hw_01/*/
!hw_01/*.cpp
!hw_01/*.pdf

hw_02/*/
!hw_02/*.cpp
!hw_02/*.pdf

hw_03/*/
!hw_03/*.cpp
!hw_03/*.pdf

hw_04/*/
hw_04/*
!hw_04/*.cpp
!hw_04/*.pdf

MidTerm/*
!MidTerm/gomoku.cpp
!MidTerm/*.pdf

cocos2d-x/